body {
    font-family: Arial, sans-serif;
}

h1{
    color: aliceblue;
}

.Campos{
    background: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 0, 0);
    border-radius:1pc;
}

.box-formulario{
    display: grid;
    justify-content: center;
    padding: 20px 10px;
    margin: auto;
    box-sizing: border-box;
}

.Nombres{
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    font-weight: 900;
}

.Registro-Campo{
    display: grid;
    justify-content: center;
    margin: auto;
    /* width:10pc; */
}

input{
    width: 20pc;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.enviar{
    padding: 10px;
    display: grid;
    justify-content: center;
    margin-top: 5px;   
}

.botton{
    padding: 10px;
}

#result {
    color: aliceblue;
    margin-top: 20px;
    justify-content: center;
}