# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Base de datos (DBeaver, backups, configuraciones locales)
.dbeaver/
.metadata/
*.sql
*.dump
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Producción
build/
dist/

# Temporales
*.log
*.tmp
*.bak
*.swp
*~
